# Required packages for Scribd Document Downloader
selenium>=4.32.0
urllib3<3,>=1.26
trio~=0.17
trio-websocket~=0.9
typing_extensions~=4.9
websocket-client~=1.8
selenium
trio
trio-websocket
typing_extensions
urllib3
websocket-client
flask
pytz
requests
flask
pytz
requests
selenium
trio~=0.17
trio-websocket~=0.9
typing_extensions~=4.9
urllib3<3,>=1.26
websocket-client~=1.8
